{% extends 'adminaccount/base.html' %}
{%load static %}
{% load humanize %}


{%block content %}
<div class="page-body-wrapper">

      <!-- Page Sidebar Start-->
      <div class="page-sidebar">
        <div class="sidebar custom-scrollbar">
            <div class="sidebar-user text-center">
                <div><img class="img-60 rounded-circle lazyloaded blur-up" src="{% static "assetss/images/dashboard/man.png" %}" alt="#">
                </div>
                <h6 class="mt-3 f-14">{{xx.email}}</h6>
                <p>Ux Designer</p>
            </div>
            <ul class="sidebar-menu">
                <li><a class="sidebar-header" href="{%url 'managerdesk'%}"><i data-feather="home"></i><span>Dashboard</span></a></li>
                <li><a class="sidebar-header" href="#"><i data-feather="box"></i> <span>Properties</span><i class="fa fa-angle-right pull-right"></i></a>
                    <ul class="sidebar-submenu">
                        <li class="breadcrumb-item active">
                            <a href="{%url 'upload'%}" active><i class="fa fa-circle"></i>
                                <span>Upload Property</span>
                            </a>
                        </li>
                        <li>
                            <a href="{%url 'property-list'%}"><i class="fa fa-circle"></i>
                                <span>Property List</span> 
                            </a>
                           
                        </li>
                    </ul>
                </li>
                <li><a class="sidebar-header" href="#"><i data-feather="box"></i><span>Company Details</span><i class="fa fa-angle-right pull-right"></i></a>
                    <ul class="sidebar-submenu">
                        <li><a href="{%url 'company_details'%}"><i class="fa fa-circle"></i>Company Info</a></li>
                        <li><a href="{%url 'company_logo_edit' 2%}"><i class="fa fa-circle"></i>Change Company Logo</a></li>
                        <li><a href="{%url 'edit_image_slide' 1%}"><i class="fa fa-circle"></i>Change Home Slide Image</a></li>
                    </ul>
                </li>
               
            </ul>
        </div>
    </div>
      <!-- Page Sidebar Ends-->

      <!-- Right sidebar Start-->
      <div class="right-sidebar" id="right_side_bar">
          <div>
              <div class="container p-0">
                  <div class="modal-header p-l-20 p-r-20">
                      <div class="col-sm-8 p-0">
                          <h6 class="modal-title font-weight-bold">FRIEND LIST</h6>
                      </div>
                      <div class="col-sm-4 text-right p-0"><i class="mr-2" data-feather="settings"></i></div>
                  </div>
              </div>
              <div class="friend-list-search mt-0">
                  <input type="text" placeholder="search friend"><i class="fa fa-search"></i>
              </div>
              <div class="p-l-30 p-r-30">
                  <div class="chat-box">
                      <div class="people-list friend-list">
                          <ul class="list">
                              <li class="clearfix"><img class="rounded-circle user-image blur-up lazyloaded" src="../assets/images/dashboard/user.png" alt="">
                                  <div class="status-circle online"></div>
                                  <div class="about">
                                      <div class="name">Vincent Porter</div>
                                      <div class="status"> Online</div>
                                  </div>
                              </li>
                              <li class="clearfix"><img class="rounded-circle user-image blur-up lazyloaded" src="../assets/images/dashboard/user1.jpg" alt="">
                                  <div class="status-circle away"></div>
                                  <div class="about">
                                      <div class="name">Ain Chavez</div>
                                      <div class="status"> 28 minutes ago</div>
                                  </div>
                              </li>
                              <li class="clearfix"><img class="rounded-circle user-image blur-up lazyloaded" src="../assets/images/dashboard/user2.jpg" alt="">
                                  <div class="status-circle online"></div>
                                  <div class="about">
                                      <div class="name">Kori Thomas</div>
                                      <div class="status"> Online</div>
                                  </div>
                              </li>
                              <li class="clearfix"><img class="rounded-circle user-image blur-up lazyloaded" src="../assets/images/dashboard/user3.jpg" alt="">
                                  <div class="status-circle online"></div>
                                  <div class="about">
                                      <div class="name">Erica Hughes</div>
                                      <div class="status"> Online</div>
                                  </div>
                              </li>
                              <li class="clearfix"><img class="rounded-circle user-image blur-up lazyloaded" src="../assets/images/dashboard/man.png" alt="">
                                  <div class="status-circle offline"></div>
                                  <div class="about">
                                      <div class="name">Ginger Johnston</div>
                                      <div class="status"> 2 minutes ago</div>
                                  </div>
                              </li>
                              <li class="clearfix"><img class="rounded-circle user-image blur-up lazyloaded" src="../assets/images/dashboard/user5.jpg" alt="">
                                  <div class="status-circle away"></div>
                                  <div class="about">
                                      <div class="name">Prasanth Anand</div>
                                      <div class="status"> 2 hour ago</div>
                                  </div>
                              </li>
                              <li class="clearfix"><img class="rounded-circle user-image blur-up lazyloaded" src="../assets/images/dashboard/designer.jpg" alt="">
                                  <div class="status-circle online"></div>
                                  <div class="about">
                                      <div class="name">Hileri Jecno</div>
                                      <div class="status"> Online</div>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Right sidebar Ends-->

      <div class="page-body">

          <!-- Container-fluid starts-->
         
          <!-- Container-fluid Ends-->
          <!-- Container-fluid starts-->
        <br><br><br><br>
        
          <div class="container">
            <div class="card text-center">
                  <div class="card-header">
                    DELETING A REVIEW
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">{{CusR.client_name}} Company Review</h5>
                    <p class="card-text">You are about to delete <strong>{{CusR.client_name}}</strong> review for the company</p>
                    <br>
                    <form action="" method="POST">
                        {%csrf_token%}
                    <button type="submit" class="btn btn-danger">Delete Anywhere</button>
                    </form>
                  </div>
                  
                </div>
         </div>
         
          <!-- Container-fluid Ends-->

      </div>

      <!-- footer start-->
      
      <!-- footer end-->

</div>
{%endblock%}