{% extends 'adminaccount/base.html' %}
{%load static %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Page Body Start-->
<div class="page-body-wrapper">

      <!-- Page Sidebar Start-->
      <div class="page-sidebar">
        <div class="sidebar custom-scrollbar">
            <div class="sidebar-user text-center">
                <div><img class="img-60 rounded-circle lazyloaded blur-up" src="{% static "assetss/images/dashboard/man.png" %}" alt="#">
                </div>
                <h6 class="mt-3 f-14">{{xx.email}}</h6>
                <p>Ux Designer</p>
            </div>
            <ul class="sidebar-menu">
                <li><a class="sidebar-header" href="{%url 'managerdesk'%}"><i data-feather="home"></i><span>Dashboard</span></a></li>
                <li><a class="sidebar-header" href="#"><i data-feather="box"></i> <span>Properties</span><i class="fa fa-angle-right pull-right"></i></a>
                    <ul class="sidebar-submenu">
                        <li class="breadcrumb-item active">
                            <a href="{%url 'upload'%}" active><i class="fa fa-circle"></i>
                                <span>Upload Property</span>
                            </a>
                        </li>
                        <li>
                            <a href="{%url 'property-list'%}"><i class="fa fa-circle"></i>
                                <span>Property List</span> 
                            </a>
                           
                        </li>
                    </ul>
                </li>
                <li><a class="sidebar-header" href="#"><i data-feather="box"></i><span>Company Details</span><i class="fa fa-angle-right pull-right"></i></a>
                    <ul class="sidebar-submenu">
                        <li><a href="{%url 'company_details'%}"><i class="fa fa-circle"></i>Company Info</a></li>
                        <li><a href="{%url 'company_logo_edit' 2%}"><i class="fa fa-circle"></i>Change Company Logo</a></li>
                        <li><a href="{%url 'edit_image_slide' 1%}"><i class="fa fa-circle"></i>Change Home Slide Image</a></li>
                    </ul>
                </li>
               
            </ul>
        </div>
    </div>
      <!-- Page Sidebar Ends-->

      <!-- Right sidebar Start-->
      <div class="right-sidebar" id="right_side_bar">
          <div>
              <div class="container p-0">
                  <div class="modal-header p-l-20 p-r-20">
                      <div class="col-sm-8 p-0">
                          <h6 class="modal-title font-weight-bold">FRIEND LIST</h6>
                      </div>
                      <div class="col-sm-4 text-right p-0"><i class="mr-2" data-feather="settings"></i></div>
                  </div>
              </div>
              <div class="friend-list-search mt-0">
                  <input type="text" placeholder="search friend"><i class="fa fa-search"></i>
              </div>
              <div class="p-l-30 p-r-30">
                  <div class="chat-box">
                      <div class="people-list friend-list">
                          <ul class="list">
                              <li class="clearfix"><img class="rounded-circle user-image blur-up lazyloaded" src="../assets/images/dashboard/user.png" alt="">
                                  <div class="status-circle online"></div>
                                  <div class="about">
                                      <div class="name">Vincent Porter</div>
                                      <div class="status"> Online</div>
                                  </div>
                              </li>
                              <li class="clearfix"><img class="rounded-circle user-image blur-up lazyloaded" src="../assets/images/dashboard/user1.jpg" alt="">
                                  <div class="status-circle away"></div>
                                  <div class="about">
                                      <div class="name">Ain Chavez</div>
                                      <div class="status"> 28 minutes ago</div>
                                  </div>
                              </li>
                              <li class="clearfix"><img class="rounded-circle user-image blur-up lazyloaded" src="../assets/images/dashboard/user2.jpg" alt="">
                                  <div class="status-circle online"></div>
                                  <div class="about">
                                      <div class="name">Kori Thomas</div>
                                      <div class="status"> Online</div>
                                  </div>
                              </li>
                              <li class="clearfix"><img class="rounded-circle user-image blur-up lazyloaded" src="../assets/images/dashboard/user3.jpg" alt="">
                                  <div class="status-circle online"></div>
                                  <div class="about">
                                      <div class="name">Erica Hughes</div>
                                      <div class="status"> Online</div>
                                  </div>
                              </li>
                              <li class="clearfix"><img class="rounded-circle user-image blur-up lazyloaded" src="../assets/images/dashboard/man.png" alt="">
                                  <div class="status-circle offline"></div>
                                  <div class="about">
                                      <div class="name">Ginger Johnston</div>
                                      <div class="status"> 2 minutes ago</div>
                                  </div>
                              </li>
                              <li class="clearfix"><img class="rounded-circle user-image blur-up lazyloaded" src="../assets/images/dashboard/user5.jpg" alt="">
                                  <div class="status-circle away"></div>
                                  <div class="about">
                                      <div class="name">Prasanth Anand</div>
                                      <div class="status"> 2 hour ago</div>
                                  </div>
                              </li>
                              <li class="clearfix"><img class="rounded-circle user-image blur-up lazyloaded" src="../assets/images/dashboard/designer.jpg" alt="">
                                  <div class="status-circle online"></div>
                                  <div class="about">
                                      <div class="name">Hileri Jecno</div>
                                      <div class="status"> Online</div>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Right sidebar Ends-->

      <div class="page-body">

          <!-- Container-fluid starts-->
         {%for com in companyDetailz %}
          <!-- Container-fluid Ends-->
          <div class="jumbotron text-center">
            <img src="{{com.company_logo_dark.url}}" alt="">
            <h1>{{com.company_name | title}}</h1>
            <p>Edit the company details here !</p>
            </div>
            {%endfor%}
          <!-- Container-fluid starts-->
          <div class="container-fluid">
              <div class="row">
                  <div class="col-sm-12">
                      <div class="card tab2-card">
                          <div class="card-header">
                              <h5> Add Property</h5>
                          </div>
                          <div class="card-body">
                             
                              <div class="tab-content" id="myTabContent">
                                  <div class="tab-pane fade active show" id="account" role="tabpanel" aria-labelledby="account-tab">
                                      <form class="needs-validation user-add" novalidate="" enctype="multipart/form-data" method="POST" action="">
                                            {%csrf_token%}
                                            {{form | crispy }}
                                          <!-- <h4>Property Details</h4>
                                          <label class="col-form-label"><span>*</span> Property Title</label>
                                            {%for error in form.property_title.errors %}
                                                <p style="font-style: italic; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: red;">{{error}}</p>
                                            {%endfor%}
                                          <div class="form-group">
                                              {{form.property_title}}
                                          </div>
                                          
                                          <label class="col-form-label"><span>*</span> Property Price</label>
                                            {%for error in form.property_price.errors %}
                                                <p style="font-style: italic; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: red;">{{error}}</p>
                                            {%endfor%}
                                          <div class="form-group">
                                              {{form.property_price}}
                                          </div>
                                          
                                          <div class="form-group">
                                            <label class="col-form-label"><span>*</span> Payment Condition</label>
                                            {%for error in form.payment_condition.errors %}
                                            <p style="font-style: italic; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: red;">{{error}}</p>
                                            {%endfor%}
                                            <select class="custom-select" required="">
                                                <option value="{{form.payment_condition}}">{{form.payment_condition}}</option>
                                            </select>
                                        </div>

                                          <div class="form-group">
                                            <label class="col-form-label"><span>*</span> Commission</label>
                                            {%for error in form.commission.errors %}
                                            <p style="font-style: italic; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: red;">{{error}}</p>
                                            {%endfor%}
                                            <select class="custom-select" required="">
                                                <option value="{{form.commission}}">{{form.commission}}</option>
                                            </select>
                                        </div>
                                        
                                    
                                            <div class="form-group">
                                                <label class="col-form-label"><span>*</span> Property Tag</label>
                                                {%for error in form.tag.errors %}
                                                <p style="font-style: italic; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: red;">{{error}}</p>
                                                {%endfor%}
                                                <select class="custom-select" required="">
                                                    <option value="{{form.tag}}">{{form.tag}}</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-form-label"><span>*</span> Listing Type</label>
                                                {%for error in form.listing_type.errors %}
                                                <p style="font-style: italic; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: red;">{{error}}</p>
                                                {%endfor%}
                                                <select class="custom-select" required="">
                                                    <option value="{{form.listing_type}}">{{form.listing_type}}</option>
                                                </select>
                                            </div>
                                            
                                            <div class="form-group">
                                                <label class="col-form-label"><span>*</span> Property Type</label>
                                                {%for error in form.property_type.errors %}
                                                <p style="font-style: italic; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: red;">{{error}}</p>
                                                {%endfor%}
                                                <select class="custom-select" required="">
                                                    <option value="{{form.property_type}}">{{form.property_type}}</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-form-label"><span>*</span> Bedrooms</label>
                                                {%for error in form.bedrooms.errors %}
                                                <p style="font-style: italic; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: red;">{{error}}</p>
                                                {%endfor%}
                                                <select class="custom-select" required="">
                                                    <option value="{{form.bedrooms}}">{{form.bedrooms}}</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-form-label"><span>*</span> Bathrooms</label>
                                                {%for error in form.bedrooms.errors %}
                                                <p style="font-style: italic; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: red;">{{error}}</p>
                                                {%endfor%}
                                                <select class="custom-select" required="">
                                                    <option value="{{form.bedrooms}}">{{form.bedrooms}}</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-form-label"><span>*</span> Toilet</label>
                                                {%for error in form.toilet.errors %}
                                                <p style="font-style: italic; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: red;">{{error}}</p>
                                                {%endfor%}
                                                <select class="custom-select" required="">
                                                    <option value="{{form.toilet}}">{{form.toilet}}</option>
                                                </select>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-form-label"><span>*</span> Garage</label>
                                                {%for error in form.garage.errors %}
                                                <p style="font-style: italic; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: red;">{{error}}</p>
                                                {%endfor%}
                                                <select class="custom-select" required="">
                                                    <option value="{{form.garage}}">{{form.garage}}</option>
                                                </select>
                                            </div>

                                            <label class="col-form-label"><span>*</span> Plot Of Land</label>
                                            {%for error in form.plot_of_land.errors %}
                                                <p style="font-style: italic; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: red;">{{error}}</p>
                                            {%endfor%}
                                          <div class="form-group">
                                              {{form.plot_of_land}}
                                          </div>
                                          <label class="col-form-label"><span>*</span> Office Space</label>
                                            {%for error in form.office_space.errors %}
                                                <p style="font-style: italic; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: red;">{{error}}</p>
                                            {%endfor%}
                                          <div class="form-group">
                                              {{form.office_space}}
                                          </div>

                                          <div class="form-group">
                                            <label class="col-form-label"><span>*</span> State</label>
                                            {%for error in form.state.errors %}
                                            <p style="font-style: italic; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: red;">{{error}}</p>
                                            {%endfor%}
                                            <select class="custom-select" required="">
                                                <option value="{{form.state}}">{{form.state}}</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-form-label"><span>*</span> Security</label>
                                            {%for error in form.security.errors %}
                                            <p style="font-style: italic; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: red;">{{error}}</p>
                                            {%endfor%}
                                            <select class="custom-select" required="">
                                                <option value="{{form.security}}">{{form.security}}</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-form-label"><span>*</span> Amentities (hold <strong>ctrl</strong> and <strong>click</strong> to select multiply options )</label>
                                            {%for error in form.amentities.errors %}
                                            <p style="font-style: italic; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: red;">{{error}}</p>
                                            {%endfor%}
                                            {{form.amentities}}
                                        
                                        </div>

                                        <label class="col-form-label"><span>*</span> Property Main Image</label>
                                            {%for error in form.property_main_image.errors %}
                                                <p style="font-style: italic; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: red;">{{error}}</p>
                                            {%endfor%}
                                          <div class="form-group">
                                              {{form.property_main_image}}
                                          </div><label class="col-form-label"><span>*</span> Property Second Image</label>
                                          {%for error in form.property_image2.errors %}
                                              <p style="font-style: italic; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: red;">{{error}}</p>
                                          {%endfor%}
                                        <div class="form-group">
                                            {{form.property_image2}}
                                        </div>
                                        
                                        <label class="col-form-label"><span>*</span> Property Third Image</label>
                                        {%for error in form.property_image3.errors %}
                                            <p style="font-style: italic; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: red;">{{error}}</p>
                                        {%endfor%}
                                      <div class="form-group">
                                          {{form.property_image3}}
                                      </div>

                                      <label class="col-form-label"><span>*</span> Property Forth Image</label>
                                      {%for error in form.property_image4.errors %}
                                          <p style="font-style: italic; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: red;">{{error}}</p>
                                      {%endfor%}
                                    <div class="form-group">
                                        {{form.property_image4}}
                                    </div>

                                    <label class="col-form-label"><span>*</span> Property Fifth Image</label>
                                    {%for error in form.property_image5.errors %}
                                        <p style="font-style: italic; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: red;">{{error}}</p>
                                    {%endfor%}
                                  <div class="form-group">
                                      {{form.property_image5}}
                                  </div>
                                          <div class="form-group">
                                            <label class="col-form-label">Property Description ( copy and paste here )</label>
                                            {%for error in form.description.errors %}
                                        <p style="font-style: italic; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: red;">{{error}}</p>
                                              {%endfor%}
                                            {{form.description}}
                                          </div> -->
                                          <br><br><br>
                                        <div class="pull-right">
                                                <button type="submit" class="btn btn-primary">UPDATE COMPANY DETAILS > </button>
                                        </div>
                                      </form>
                                  </div>
                               </div>
                              
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Container-fluid Ends-->

      </div>

      <!-- footer start-->
      <footer class="footer">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-6 footer-copyright">
                      <p class="mb-0">Copyright 2019 © Bigdeal All rights reserved.</p>
                  </div>
                  <div class="col-md-6">
                      <p class="pull-right mb-0">Hand crafted & made with<i class="fa fa-heart"></i></p>
                  </div>
              </div>
          </div>
      </footer>
      <!-- footer end-->

  </div>
{% endblock %}

