{% extends 'adminaccount/base.html' %}
{%load static %}

{%block content %}
<!-- page-wrapper Start-->
            <div class="page-wrapper">
                <div class="authentication-box">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 p-0 card-left">
                                <div class="card bg-primary">
                                   

                                    <div class="single-item">
                                        <div>
                                            <div>
                                                <h3>Welcome to Bigdeal</h3>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <h3>Welcome to Bigdeal</h3>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <h3>Welcome to Bigdeal</h3>
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 p-0 card-right">
                                <div class="card tab2-card">
                                    <div class="card-body">
                                    
                                        <div class="tab-content" id="top-tabContent">
                                            <div class="tab-pane fade show active" id="top-profile" role="tabpanel" aria-labelledby="top-profile-tab">
                                                <form class="form-horizontal auth-form">
                                                    <div class="form-group">
                                                        <input required="" name="login[username]" type="email" class="form-control" placeholder="Username" id="exampleInputEmail1">
                                                    </div>
                                                    <div class="form-group">
                                                        <input required="" name="login[password]" type="password" class="form-control" placeholder="Password">
                                                    </div>
                                                    <div class="form-terms">
                                                        <div class="custom-control custom-checkbox mr-sm-2">
                                                            <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                                            <label class="custom-control-label" for="customControlAutosizing">Remember me</label>
                                                            <a href="#" class="btn btn-default forgot-pass">lost your password</a>
                                                        </div>
                                                    </div>
                                                    <div class="form-button">
                                                        <button class="btn btn-primary" type="submit">Login</button>
                                                    </div>
                                                    <div class="form-footer">
                                                        <span>Or Login up with social platforms</span>
                                                        <ul class="social">
                                                            <li><a class="icon-facebook" href="#"></a></li>
                                                            <li><a class="icon-twitter" href="#"></a></li>
                                                            <li><a class="icon-instagram" href="#"></a></li>
                                                            <li><a class="icon-pinterest" href="#"></a></li>
                                                        </ul>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- <div class="tab-pane fade" id="top-contact" role="tabpanel" aria-labelledby="contact-top-tab">
                                                <form class="form-horizontal auth-form">
                                                    <div class="form-group">
                                                        <input required="" name="login[username]" type="email" class="form-control" placeholder="Username" id="exampleInputEmail12">
                                                    </div>
                                                    <div class="form-group">
                                                        <input required="" name="login[password]" type="password" class="form-control" placeholder="Password">
                                                    </div>
                                                    <div class="form-group">
                                                        <input required="" name="login[password]" type="password" class="form-control" placeholder="Confirm Password">
                                                    </div>
                                                    <div class="form-terms">
                                                        <div class="custom-control custom-checkbox mr-sm-2">
                                                            <input type="checkbox" class="custom-control-input" id="customControlAutosizing1">
                                                            <label class="custom-control-label" for="customControlAutosizing1"><span>I agree all statements in <a href="#"  class="pull-right">Terms &amp; Conditions</a></span></label>
                                                        </div>
                                                    </div>
                                                    <div class="form-button">
                                                        <button class="btn btn-primary" type="submit">Register</button>
                                                    </div>
                                                    <div class="form-footer">
                                                        <span>Or Sign up with social platforms</span>
                                                        <ul class="social">
                                                            <li><a class="icon-facebook" href="#"></a></li>
                                                            <li><a class="icon-twitter" href="#"></a></li>
                                                            <li><a class="icon-instagram" href="#"></a></li>
                                                            <li><a class="icon-pinterest" href="#"></a></li>
                                                        </ul>
                                                    </div>
                                                </form>
                                            </div> -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="index.html" class="btn btn-primary back-btn"><i data-feather="arrow-left"></i>back</a>
                    </div>
                </div>
            </div>
{%endblock%}