{% load static %}
</div>

<!-- latest jquery-->
<script src="{% static "assetss/js/jquery-3.3.1.min.js" %} "></script>

<!-- Bootstrap js-->
<script src="{% static "assetss/js/popper.min.js" %} "></script>
<script src="{% static "assetss/js/bootstrap.js" %}"></script>

<!-- feather icon js-->
<script src="{% static "assetss/js/icons/feather-icon/feather.min.js" %}"></script>
<script src="{% static "assetss/js/icons/feather-icon/feather-icon.js" %}"></script>

<!-- Sidebar jquery-->
<script src="{% static "assetss/js/sidebar-menu.js" %}"></script>

<script src="{% static "assetss/js/datatables/jquery.dataTables.min.js" %} "></script>
<script src="{% static "assetss/js/datatables/custom-basic.js" %} "></script>

<!--chartist js-->
<script src="{% static "assetss/js/chart/chartist/chartist.js" %}"></script>


<!-- lazyload js-->
<script src="{% static "assetss/js/lazysizes.min.js" %}"></script>

<!--copycode js-->
<script src="{% static "assetss/js/prism/prism.min.js" %}"></script>
<script src="{% static "assetss/js/clipboard/clipboard.min.js" %}"></script>
<script src="{% static "assetss/js/custom-card/custom-card.js" %}"></script>

<!--counter js-->
<script src="{% static "assetss/js/counter/jquery.waypoints.min.js" %}"></script>
<script src="{% static "assetss/js/counter/jquery.counterup.min.js" %}"></script>
<script src="{% static "assetss/js/counter/counter-custom.js" %}"></script>

<!--Customizer admin-->
<script src="{% static "assetss/js/admin-customizer.js" %}"></script>

<!--map js-->
<script src="{% static "assetss/js/vector-map/jquery-jvectormap-2.0.2.min.js" %}"></script>
<script src="{% static "assetss/js/vector-map/map/jquery-jvectormap-world-mill-en.js" %}"></script>

<!--apex chart js-->
<script src="{% static "assetss/js/chart/apex-chart/apex-chart.js" %}"></script>
<script src="{% static "assetss/js/chart/apex-chart/stock-prices.js" %}"></script>

<!--chartjs js-->
<script src="{% static "assetss/js/chart/flot-chart/excanvas.js" %}"></script>
<script src="{% static "assetss/js/chart/flot-chart/jquery.flot.js" %}"></script>
<script src="{% static "assetss/js/chart/flot-chart/jquery.flot.time.js" %}"></script>
<script src="{% static "assetss/js/chart/flot-chart/jquery.flot.categories.js" %}"></script>
<script src="{% static "assetss/js/chart/flot-chart/jquery.flot.stack.js" %}"></script>
<script src="{% static "assetss/js/chart/flot-chart/jquery.flot.pie.js" %}"></script>
<!--dashboard custom js-->
<script src="{% static "assetss/js/dashboard/default.js" %}"></script>

<!--right sidebar js-->
<script src="{% static "assetss/js/chat-menu.js" %}"></script>

<!--height equal js-->
<script src="{% static "assetss/js/equal-height.js" %}"></script>

<!-- lazyload js-->
<script src="{% static "assetss/js/lazysizes.min.js" %}"></script>

<!--script admin-->
<script src="{% static "assetss/js/admin-script.js" %}"></script>
<script>
      var  form_feilds = document.getElementsByTagName('input')
      form_feilds[1].placeholder = 'Username...';
      form_feilds[2].placeholder = 'Password...';
      
      for(var field in form_feilds){
            form_feilds[field].className += 'form-control custom-select'
      }
</script>