{% load static %}
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700%7cSource+Sans+Pro:200,400,600,700,900,400italic,700italic&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
<!-- Boostrap and other lib styles-->
<link rel="stylesheet" href="{% static "css/vendor.min48e0.css" %} ">
<!-- Font-awesome lib-->
<link rel="stylesheet" href="{% static "css/font-awesome.min48e0.css" %} ">
<!-- Theme styles, please replace "default" with other color scheme from the list available in template/css-->
<link rel="stylesheet" href="{% static "css/theme-default.min48e0.css" %} ">
<!-- Your styles should go in this file-->
<link rel="stylesheet" href="{% static "css/custom.css" %} ">
<!-- Fixes for IE-->
<!--[if lt IE 11]>
<link rel="stylesheet" href="css/ie-fix.css"><![endif]-->
<link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">