{% load static %}
</div>
<button type="button" class="scrollup js-scrollup"></button>
<!-- end of block .scrollup-->
<!-- BEGIN SCRIPTS and INCLUDES-->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places,drawing,geometry"></script>
<script type="text/javascript" src="../../cdn.ckeditor.com/4.5.6/standard/ck\editor.js"></script>
<!--
Contains vendor libraries (Bootstrap3, Jquery, Chosen, etc) already compiled into a single file, with
versions that are verified to work with our theme. Normally, you should not edit that file.
-->
<script src="{% static "js/vendor.min48e0.js" %}"></script>
<!--
This file is used for demonstration purposes and contains example property items, that are mostly used to
render markers on the map. You can safely delete this file, after you"ve adapted the demo.js code
to use your own data.
-->
<script src="{% static "js/demodata.min48e0.js" %}"></script>
<!--
The library code that Realtyspace theme relies on, in order to function properly.
Normally, you should not edit this file or add your own code there.
-->
<script src="{% static "js/app.min48e0.js" %}"></script>
<!--
the main file, that you should modify. It contains lots of examples of
plugin usage, with detailed comments about specific sections of the code.
-->
<script src="{% static "js/demo.min48e0.js" %}"></script>

<script>
      var  form_feilds = document.getElementsByTagName('input')
      form_feilds[1].placeholder = 'Search';
      
      for(var field in form_feilds){
            form_feilds[field].className += 'form-control'
      }
</script>
<!-- inject:ga  -->
